@tailwind base;
@tailwind components;
@tailwind utilities;

$stone600: #57534e;

.transition-3 {
  transition: all 0.3s;
}

.nor {
  font-weight: 400;
}
.med {
  font-weight: 500;
}
.boldy {
  font-weight: 600;
}

.note {
  &:hover {
    & > h1 {
      color: white;
    }
    & > h2 {
      color: rgba(white, 0.5);
    }
  }
}

.modal {
  background-color: rgba(black, 0.2);
}
